<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<style>
.list {
  border-collapse: collapse;
  width: 60%;  
}
.pro {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  float: left;
  text-align: left;
  width: 32%;
}
</style>
</head>
<body>
    
{{{body}}}
</body>
</html>
{{!-- index.hbs --}}
<h1>{{ message }}</h1>

  <div class="list">    
    {{#each products}} 
    <div class="pro">
    <div><img  src="{{thumbnail}}" /></div>
    <div>{{name}} - {{salePrice}}</div>
    <div>{{@index}}</div>  
    </div>
  {{/each}} 
  </div>
   
